:root {
    --font-family: 'Helvetica', sans-serif;
    --base-font-size: 1.2em;
    --line-height: 1.6;
    --text-color: #333;
    --background-color: #f9f9f9;
    --link-color: #005e9d;
    --link-hover-decoration: underline;
    --header-text-color: #2c2c2c;
    --border-color: #ddd;
    --footer-text-color: #666;
    --code-bg-color: #e5e5e5;
    --responsive-font-size-md: 1.3em;
    --responsive-font-size-sm: 1.1em;
}

body {
    font-family: var(--font-family);
    margin: 20px auto;
    max-width: 760px;
    line-height: var(--line-height);
    font-size: var(--base-font-size);
    color: var(--text-color);
    padding: 0 15px;
    background-color: var(--background-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3 {
    line-height: 1.3;
    color: #222;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: var(--link-hover-decoration);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

header h1 {
    font-size: x-large;
    font-weight: bold;
}

header h1 a {
    color: #737373;
    text-decoration: none;
}
header h1 a:hover {
    color: #323232;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    font-weight: normal;
    color: var(--link-color);
}

article>h2 {
    font-size: 1.9em;
}

article>date{
    font-size: 0.9em;
    color: var(--footer-text-color);
}

footer {
    margin-top: 50px;
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
    font-size: 0.9em;
    color: var(--footer-text-color);
    text-align: center;
}

blockquote {
    border-left: 5px solid var(--border-color);
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #f0f0f0;
    margin-left: 16px;
}

pre {
    background-color: var(--code-bg-color);
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
}

@media (max-width: 768px) {
    body {
        font-size: var(--responsive-font-size-md);
        padding: 0 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    body {
        font-size: var(--responsive-font-size-sm);
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    main>ul {
        list-style-type: none;
        padding: 0;
    }

    main>ul>li {
        border-bottom: 1px dotted #ccc;
        padding: 6px 5px;
    }
}