<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ pageTitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ pageDescription }}">
    <meta name="author" content="{{ author }}">
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:description" content="{{ pageDescription }}">
    <link rel="alternate" type="application/rss+xml" href="{{ basePath }}/rss.xml">
    <link rel="stylesheet" href="{{ basePath }}/css/styles.css">
    {{#if needsHighlightJS}}
    {{> feature/highlight }}
    {{/if}}
</head>

<body>
    <header>
        <h1><a href="{{ basePath }}/">{{ siteName }}</a></h1>
        <nav>
            <ul>
                {{#each navItems}}
                <li><a href="{{ this.path }}">{{ this.title }}</a></li>
                {{/each}}
            </ul>
        </nav>
    </header>
    <main>