<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ header.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ header.meta.description }}">
    <meta name="author" content="{{ header.meta.author }}">
    <meta property="og:title" content="{{ header.og.title }}">
    <meta property="og:description" content="{{ header.og.description }}">
    <meta property="og:image" content="{{ header.og.image }}">
    <link rel="alternate" type="application/rss+xml" href="{{ config.basePath }}/rss.xml">
    <style>{{{ header.css.minified }}}</style>
    {{#if header.css.needsHighlightJS}}
    {{> feature/highlight }}
    {{/if}}
</head>

<body>
    <header>
        <a class="site-title" href="{{ config.basePath }}/">{{ config.name }}</a>
        <nav>
            <ul>
                {{#each config.menu}}
                <li><a href="{{ this.path }}">{{ this.title }}</a></li>
                {{/each}}
            </ul>
        </nav>
    </header>
    <main>