:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --base-font-size: 1.1rem;
    --line-height: 1.5;
    --sitename-color: #535353;
    --headings-color: #222;
    --text-color: #000;
    --background-color: #FFF;
    --link-color: #0877c2;
    --header-text-color: #2c2c2c;
    --border-color: #ddd;
    --footer-text-color: #4a4a4a;
    --code-bg-color: #eeeeee;
    --not-found-bg-color: #fff187;
    --not-found-border-color: #dda771;
    --not-found-text-color: #613030;
}

@media (prefers-color-scheme: dark) {
    :root {
        --sitename-color: #eee;
        --headings-color: #eee;
        --text-color: #ccc;
        --background-color: #000;
        --link-color: #60a5fa;
        --header-text-color: #eee;
        --border-color: #333;
        --footer-text-color: #999;
        --code-bg-color: #1a1a1a;
        --not-found-bg-color: #330000;
        --not-found-border-color: #660000;
        --not-found-text-color: #fcc;
    }
}

body {
    font-family: var(--font-family);
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 65ch;
    line-height: var(--line-height);
    font-size: var(--base-font-size);
    color: var(--text-color);
    background-color: var(--background-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    background-color: var(--code-bg-color);
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a.site-title {
    font-size: x-large;
    font-weight: bold;
    margin: 1rem 1rem 1rem 0;
    color: var(--sitename-color);
    text-decoration: none;
}

header a.site-title:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    margin-block: 2rem 0rem;
    line-height: normal;
}

article h1 {
    font-size: 2em; /* Fix for Safari/WebKit */
}

article a {
    overflow-wrap: anywhere;
}

footer {
    margin-top: 3rem;
    border-top: 1px solid var(--border-color);
    padding-top: 1.5rem;
    font-size: 1rem;
    color: var(--footer-text-color);
    text-align: center;
}

blockquote {
    border-left: 5px solid var(--border-color);
    padding: 0.5rem 1rem;
    background-color: var(--code-bg-color);
}

pre {
    background-color: var(--code-bg-color);
}

pre code {
    display: block;
    overflow-x: scroll;
    padding: 1rem;
    white-space: pre;
    word-break: normal;
}

code {
    background-color: var(--code-bg-color);
    padding: 0.1em 0.3em;
    font-size: 0.9em;
    border-radius: 3px;
    white-space: pre-wrap;
    word-break: break-word;
}

.april-ssg-notfound {
    display: block;
    color: var(--not-found-text-color);
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    background: var(--not-found-bg-color);
    border: 2px dotted var(--not-found-border-color);
}

.main-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-list>li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.6rem;
}

.main-list>li time {
    color: var(--text-color);
    font-family: monospace;
    font-size: 0.9em;
}

.main-list>li a {
    flex: 1;
    text-decoration: none;
}

.main-list>li a:hover {
    text-decoration: underline;
}

table {
    display: block;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: var(--code-bg-color);
    font-weight: bold;
}

iframe {
    border: 0;
    width: 100% !important;
}

.post-tags {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

@media(max-width: 600px) {
    .main-list {
        gap: 1.2rem;
    }

    blockquote {
        margin-left: .8rem;
        margin-right: .9rem;
        font-size: 1.1rem;
    }
}